      <div class="row"><div class="col-md-9">&nbsp;</div></div>    

      <div class="alert alert-danger" ng-show="mensagemErro">{{mensagemErro}}</div>

      <div class="row" ng-show="vaga.codigo == '' && mensagemErro == ''">
        <div class="col-md-12">
          <p>Carregando...</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <a class="btn btn-default btn-xs disabled" ng-show="codigoAnterior == '' && codigoProximo != ''">
            <span class="glyphicon glyphicon-chevron-left"></span></a>
          <button type="button" class="btn btn-default btn-xs" ng-click="anterior()" 
            ng-show="codigoAnterior != ''"><span class="glyphicon glyphicon-chevron-left"></span></button>
          <button type="button" class="btn btn-default btn-xs" ng-click="proximo()" 
            ng-show="codigoProximo != ''"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </div>

      <div class="row" ng-show="codigoAnterior != '' || codigoProximo != ''"><div class="col-md-9">&nbsp;</div></div>    

      <div class="panel panel-default" ng-show="vaga.codigo">
        <div class="panel-heading">
          <h3 class="panel-title">{{vaga.titulo}}</h3>
        </div>
        <div class="panel-body">
          <strong>Data: </strong>{{vaga.data}}<br>
          <strong>Codigo: </strong>{{vaga.codigo}}<br>
          <strong>Cidade: </strong>{{vaga.cidade}}<br>
          <strong>Empresa: </strong>{{vaga.empresa}}<br>
          <strong>Email: </strong>{{vaga.email}}<button type="button" class="btn btn-default btn-xs" 
            ng-click="descobrirEmail()" ng-hide="vaga.email">
            <span class="glyphicon glyphicon-envelope"></span></button><br>
          <form class="form-inline caixa" role="form" ng-submit="pesquisarEmail()" ng-show="captcha">
            <div class="form-group">
              <img ng-src="{{captcha}}">
              <input type="text" class="form-control" name="verificacao" ng-model="verificacao" required>
              <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
            
          </form>
          <hr />
          <span ng-bind-html="vaga.descricao"></span>
        </div>
      </div>